<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bangkit.capstone.insightapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.InSightApp">
        <activity android:name=".view.detail.ShopActivity"
            android:theme="@style/Theme.InSightApp.NoActionBar">
        </activity>
        <activity android:name=".view.activity.AddBarangActivity" />
        <activity android:name=".view.activity.welcomescreen.forumkm.UmkmWelcome1" />
        <activity android:name=".view.activity.welcomescreen.WelcomeActivity6" />
        <activity android:name=".view.activity.welcomescreen.WelcomeActivity5" />
        <activity android:name=".view.activity.welcomescreen.WelcomeActivity4" />
        <activity android:name=".view.activity.welcomescreen.WelcomeActivity3" />
        <activity android:name=".view.activity.welcomescreen.WelcomeActivity2" />
        <activity android:name=".view.activity.FindOutActivity" />
        <activity
            android:name=".view.detail.GoodDetailActivity"
            android:theme="@style/Theme.InSightApp.NoActionBar" />
        <activity
            android:name=".view.detail.UserDetailActivity"
            android:theme="@style/Theme.InSightApp.NoActionBar" />
        <activity android:name=".view.activity.ChatActivity" />
        <activity android:name=".view.activity.welcomescreen.WelcomeActivity" />
        <activity android:name=".view.activity.SettingActivity" />
        <activity
            android:name=".view.activity.DetailUserActivity"
            android:label="@string/title_activity_detail_user"
            android:theme="@style/Theme.InSightApp.NoActionBar" />
        <activity
            android:name=".view.activity.MenuActivity"
            android:label="@string/title_activity_menu" />
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>